@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}

	/* conserver le ratio des images */

	img {
		height: auto;
	}

	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}

	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}

	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}

	/* Un message personnalisé */




h1 {
  position: absolute;
width: 322px;
height: 65px;
left: 26px;
top: 94px;

font-family: Nunito;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #65B389;

}

h2{
  position: absolute;
width: 322px;
height: 65px;
left: 26px;
top: 183px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #696969;
}


h3 {
	position: absolute;
	width: 322px;
	height: 24px;
	left: 19px;
	top: 395px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #9B9B9B;
}

h4 {
	position: absolute;
	width: 322px;
	height: 32px;
	left: 20px;
	top: 65px;
font-family: Nunito;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;

color: #65B389;
}

.titre-compo {
	position: absolute;
	width: 322px;
	height: 32px;
	left: 20px;
	top: 181px;
	font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #9B9B9B;

}

.titre-prod {
	position: absolute;
width: 322px;
height: 32px;
left: 20px;
top: 315px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;

color: #9B9B9B;

}

.titre-lavage {

	position: absolute;
	width: 322px;
	height: 32px;
	left: 20px;
	top: 634px;

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;

	color: #9B9B9B;
}

.image1{
  position: absolute;
width: 240px;
height: 245px;
left: 67px;
top: 280px;
}

.code-barre{
	position: absolute;
width: 194px;
height: 107px;
left: 91px;
top: 233px;
}

.article1 {
position: absolute;
width: 159px;
height: 64px;
left: 29px;
top: 455px;
}

.article2 {
position: absolute;
width: 159px;
height: 64px;
left: 188px;
top: 455px;
}

.bouton-historique {
position: absolute;
width: 112px;
height: 24px;
left: 131px;
top: 534px;
}

.menu {
position: absolute;
position: fixed;
width: 375px;
height: 74px;
left: 0px;
top: 593px;

}


.circle1 {
position: absolute;
width: 10px;
height: 10px;
left: 182px;
top: 606px;
border-radius: 50%;
background: #EAE8E8;
}

.circle2 {
position: absolute;
width: 10px;
height: 10px;
left: 160px;
top: 606px;
border-radius: 50%;
background: #65B389;
}

.circle3 {
position: absolute;
width: 10px;
height: 10px;
left: 204px;
top: 606px;
border-radius: 50%;
background: #EAE8E8;
}

.rectangle1 {

position: absolute;
width: 200px;
height: 114px;
left: 87px;
top: 227px;

background: #65B389;
border-radius: 19px;
}

.retour
{
position: absolute;
left: 22px;
top: 43px;
}

.aide {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 333px;
	top: 39px;
}

.note {
	position: absolute;
width: 116px;
height: 26px;
left: 20px;
top: 142px;
}

.polyester {
	position: absolute;
width: 334px;
height: 68.14px;
left: 20px;
top: 222px;
}

.chine {
	position: absolute;
	width: 334px;
	height: 68.14px;
	left: 20px;
	top: 359px;
}

.eau {
	position: absolute;
	width: 334px;
	height: 68.14px;
	left: 20px;
	top: 446px;
}

.co2 {
	position: absolute;
	width: 334px;
	height: 68.14px;
	left: 20px;
	top: 541px;
}

.lavage {
	position: absolute;
width: 334px;
height: 68.14px;
left: 20px;
top: 678px;
margin-bottom: 100px;
}


}
